*body
{
  margin: 0px;
  padding: 0px;
  background-image: url(4.jpg);
}

img
{
  height: 100%;
  width: 10%;
}

/*header
{
  height: 80px;
  width: 100%;
  background-color: rgb(116, 0, 0);
}*/
.Nav
{
  height: 100px;
  width: 100%;
  background-color: rgba(241, 239, 241, 0.753);
}
