body
{
  background-position: initial;
  margin: 0px;
  padding: 0px;
  background-image: url(4.jpg);
  border-image: 5px solid blue;
  padding-bottom: 5px;
  background-repeat: no-repeat;
  background-size: 100% 700px;
  height: 100px;
  background-color:#33383b;
 
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  padding-left: 10px;
  padding-top: 5px;
}

.header h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: wheat;
  font-size: 24px;
  position: relative;
  padding:20px;
  padding-left: 0px;
  margin-left: 50px;
  float: left;
  top: 18px;
  left: 10px;
}

.navLink h3:hover
{
  color: rgb(9, 34, 26);
  
}
/*header
{
  height: 10;
  width: 100%;
  background-color: rgb(116, 0, 0);
}*/
.Nav
{
  height: 100px;
  width: 100%;
  background-color: rgba(241, 239, 241, 0.753);
}
h2
{
  margin-top: 500px;
}
.signIn
{ 
  margin-right:30px ;
  background-color:wheat;
	border-radius:28px;
	border:1px solid wheat;
	display:inline-block;
	cursor:pointer;
	color:rgb(105, 3, 3);;
	font-family:Arial;
	font-size:17px;
  margin-left: 20px;
  margin-top: 60px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  float: right;
  height: 40px;
  width: 10%;
 }
 button:hover
 {
   background-color: rgb(105, 3, 3);
   color: white;
 }


p
{
  color: wheat;
  margin-top: 290px;
  margin-left: 10px;
}

.shop {
  padding-top: -80px;
  background-color:wheat;
	border-radius:28px;
	border:1px solid wheat;
	display:inline-block;
	cursor:pointer;
	color:rgb(105, 3, 3);;
	font-family:Arial;
	font-size:17px;
	margin-left: 100px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  float: left;
  height: 40px;
  width: 10%;
}
.shop:hover {
	background-color:rgb(105, 3, 3);;
}
.shop:active {
	position:relative;
	top:1px;
}

.ml6 {
  position: relative;
  font-weight: 800;
  font-size: 3.3em;
  padding-top: 50px;
  margin-left: -700px;
  margin-top:150px ;
  
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  margin-top: -100%;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  color: wheat;
  line-height: 50px;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
  padding-top: -500px;
  
}
h2
{
  margin-top: 30px;
  float: left;

}

/* Home Tab CSS*/
p .home 
{
  color:wheat;
  margin-top: 100%;
  padding-top: 700px;
}

.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}